/* Write your CSS here */
* {
  box-sizing: border-box;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
}

.tab-item-container {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  width: 60%;
  max-width: 300px;
  justify-content: center;
}
.app-item-container {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
  width: 65%;
  align-self: center;
  justify-content: center;
}
.search {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
  width: 280px;
}
.icon {
  width: 15px;
  height: 15px;
}
.search-container {
  border: 1px solid #7b8794;
  display: flex;
  align-items: center;
  width: 60%;
  max-width: 300px;
}
.main-heading {
  font-family: 'Bree Serif';
}
